
:local(.baseClass) {
  top: 0;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  background: black;
  width: 100%;
  color: white;

  & > * {
    float: left;
  }

  &-logo {
    width: 75px;
    height: 100%;
    background: cornflowerblue;
    margin-right: 30px;
    text-align: center;
  }
}
