@import "normalize";

body {
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

// its mostly recommended to set global border-box
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// appIcons styling
[class*=' ai-'], [class^='ai-'] {
  line-height: 1;

  &:before {
    font-family: appIcons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
  }
}
