
:local(.spread) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

:local(.responsiveImage) {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  text-align: center;
}
